</html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User DashBoard | Syndicate Innovate Challenge</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-3">
                <div class="card-image">
                    <img src="https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80" width="400px" height="500px">
                    <h1 class="card-title">Welcome to Marketing and Refferal Banking  Application</h1>
                </div>
                <div class="card-content">
                    <p>Hi</p>
                    <p>You have Been Reffered By <span>${name}</span> </p>

                    <p>Please Click the below singup link to create your free account </p>
                </div>
                <div class="card-action">
                    <a href="${link}" class="btn indigo darken-3"  style="width:100%;">Signup</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>