<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel center z-depth-3">
      <div class="card-content">
        <table class="highlight centered">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Apply</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="product in productlist">
              <td>{{ product.productName }}</td>
              <td>
                <button
                  class="btn indigo waves-effect waves-light"
                  ng-click="applyProduct($index)"
                >
                  Apply
                </button>
              </td>
            </tr>

            <!-- <tr ng-repeat="product in productlist">
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.productName}}</td>
                                    <td>{{ product.description}}</td>
                                    <td>{{ product.commision}}</td>
                                    <td><button class="btn indigo waves-effect waves-light" ng-click="updateProduct($index)">Update</button></td>
                                </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
